<div *ngIf="isRegisterError" class="red-text center error-message">
    Seems like a user has exists with that Email/Password.
</div>

<div *ngIf="isRegisterSuccess" class="green-text center error-message">
    User Registered Successfully!
</div>

<form #registerForm = "ngForm" class = "col s12 white" (ngSubmit) = "OnSubmitRegister(Name.value, Email.value ,Password.value)">
    <div class = "row">
        <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i>
            <input type="text" #Name ngModel name = "name" placeholder="Name" required>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input type="text" #Email ngModel name = "email" placeholder = "Email" pattern = "[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+(?:[A-Z]{2}|com|org|net|gov|mil|biz|info|mobi|name|aero|jobs|museum)\b" required>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">vpn_key</i>
          <input type="password" #Password ngModel name = "password" placeholder = "Password" required>
        </div>
    </div>

    <div class="row right-align">
        <div class="input-field col s12">
                <button [disabled]="!registerForm.valid" class="btn-large btn-submit" type="submit">Register</button>
        </div>
    </div>
</form>