<div *ngIf="isLoginError" class="red-text center error-message">
  Incorrect username or password
</div>
<form #loginForm = "ngForm" class = "col s12 white" (ngSubmit) = "OnSubmitLogin(Email.value ,Password.value)">

    <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input type="text" #Email ngModel name = "email" placeholder = "Email" pattern = "[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+(?:[A-Z]{2}|com|org|net|gov|mil|biz|info|mobi|name|aero|jobs|museum)\b" required>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">vpn_key</i>
          <input type="password" #Password ngModel name = "password" placeholder = "Password" required>
        </div>
    </div>

    <div class="row right-align">
        <div class="input-field col s12">
                <button [disabled]="!loginForm.valid" class="btn-large btn-submit" type="submit">Login</button>
        </div>
    </div>
</form>